@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// fonts variables
$inter-font: "Inter", sans-serif;
$poppins-font: "Poppins", sans-serif;

// color variables
$white-clr: #ffffff;
$dark-teal: #03363d;
$black-clr: #000000;
$deep-indigo: #242565;
$grey-clr: #6a6a6a;
$pink-clr: #f5167e;
$deep-grey: #f1f1f1;
$headerGlasmorphismClr:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));

//components mixins here
@mixin flex($direc) {
    display: flex;
    flex-direction: $direc;
}

@mixin flexComp($direc) {
    display: flex;
    flex-direction: $direc;
    justify-content: center;
    align-items: center;
}

@mixin fontSize12px() {
    font-size: clamp(0.75rem, 0.755vw, 0.76rem);
}

@mixin fontSize13px() {
    font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
}

@mixin fontSize18px() {
    font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}

@mixin fontSize15px() {
    font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
}

@mixin fontSize16px() {
    font-size: clamp(1rem, 1.05vw, 1.05rem);
}

@mixin fontSize14px() {
    font-size: clamp(0.875rem, 0.88vw, 0.89rem);
}

@mixin fontSize20px() {
    font-size: clamp(1.25rem, 1.25vw, 1.26rem);
}

@mixin fontSize28px() {
    font-size: clamp(1.75rem, 1.78vw, 1.79rem);
}

@mixin fontSize24px() {
    font-size: clamp(1.5rem, 1.52vw, 1.55rem);
}

@mixin fontSize32px() {
    font-size: clamp(2rem, 2.05vw, 2.05rem);
}

@mixin fontSize35px() {
    font-family: clamp(2.1875rem, 2.19vw, 2.19rem);
}

@mixin fontSize40px() {
    font-size: clamp(2.5rem, 2.55vw, 2.6rem);
}

@mixin fontSize45px() {
    font-size: clamp(2.8125rem, 2.85vw, 2.9rem);
}

@mixin fontSize50px() {
    font-size: clamp(3.125rem, 3.125vw, 3.13rem);
}

@mixin fontSize60px() {
    font-size: clamp(3.75rem, 3.76vw, 3.78rem);
}

@mixin fontSize96px() {
    font-size: clamp(6rem, 6.15vw, 6.18rem);
}

@mixin Transbtnhovers() {
    transition: 0.5s;
}

@mixin hoverActiveBtn($bgclr, $clr) {
    &:hover,
    &:active {
        background-color: $bgclr;
        color: $clr;
    }
}

@mixin hiddenElement() {
    @media (max-width: 1439px) {
        display: none;
    }
}

@mixin SizeofOriginalContentsForDevicesMorethan1440px() {
    @media (min-width: 1440px) {
        width: 90rem;
        margin-inline: auto;
    }
}

@mixin hiddenElementOnLessThan767px() {
    @media (max-width: 767px) {
        display: none;
    }
}

@mixin hiddenElementOnMoreThan768px() {
    @media (min-width: 768px) {
        display: none;
    }
}

@mixin hiddenElementOnMoreThan1440px() {
    @media (min-width: 1440px) {
        display: none;
    }
}


// navbar container on mobile
@mixin MenuContainer() {
    position: fixed;
    width: 72%;
    height: 100%;
    background: hsla(260, 60%, 24%, 0.04);
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    top: 0;
    right: 0;
    overflow-y: auto;
    z-index: 9999999;

    & #my-list-of-headers{
        position: relative;
        top: 20%;
        display: flex;
        flex-direction: column;
        margin-left: clamp(2.5rem , 2.8vw , 3rem);
        text-align: left;
        row-gap: 1.5rem;
        bottom: 5%;
        

        & li > a{
            font-family: $poppins-font;
            color: $deep-grey;
            @include fontSize20px();
        }

    }

    #close-tbn{
        position: absolute;
        top: 3%;
        font-size: 2.5rem;
        right: 10%;
        color: rgba(43, 24, 77, 0.9);
        cursor: pointer;

    }
}


// padding for sections
@mixin SectionPadding() {
    @media screen and (min-width: 768px) {
        padding: 0rem 3rem;
    }

    @media screen and (max-width: 767px) {
        padding: 0rem 2rem;
    }
}