@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hero-section-home,
.hero-section-events {
  width: 100%;
  background-blend-mode: overlay;
}
.hero-section-home::after,
.hero-section-events::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  z-index: 0;
}
.hero-section-home > header,
.hero-section-events > header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
@media (min-width: 768px) {
  .hero-section-home > header,
  .hero-section-events > header {
    padding: 1.5rem 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
  }
}
.hero-section-home > header .logo,
.hero-section-events > header .logo {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
@media (min-width: 767px) {
  .hero-section-home > header .logo,
  .hero-section-events > header .logo {
    font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  }
}
.hero-section-home > header .logo > .logo-name1,
.hero-section-events > header .logo > .logo-name1 {
  color: #f1f1f1;
}
.hero-section-home > header .logo > .logo-name2,
.hero-section-events > header .logo > .logo-name2 {
  color: #f5167e;
}
@media (min-width: 768px) {
  .hero-section-home > header > .hamburger-menu,
  .hero-section-events > header > .hamburger-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero-section-home > header > nav,
  .hero-section-home > header .btn-reserve,
  .hero-section-events > header > nav,
  .hero-section-events > header .btn-reserve {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero-section-home > header > nav,
  .hero-section-events > header > nav {
    position: fixed;
    width: 72%;
    height: 100%;
    background: hsla(260, 60%, 24%, 0.04);
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    top: 0;
    right: 0;
    overflow-y: auto;
    z-index: 9999999;
  }
  .hero-section-home > header > nav #my-list-of-headers,
  .hero-section-events > header > nav #my-list-of-headers {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    margin-left: clamp(2.5rem, 2.8vw, 3rem);
    text-align: left;
    row-gap: 1.5rem;
    bottom: 5%;
  }
  .hero-section-home > header > nav #my-list-of-headers li > a,
  .hero-section-events > header > nav #my-list-of-headers li > a {
    font-family: "Poppins", sans-serif;
    color: #f1f1f1;
    font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  }
  .hero-section-home > header > nav #close-tbn,
  .hero-section-events > header > nav #close-tbn {
    position: absolute;
    top: 3%;
    font-size: 2.5rem;
    right: 10%;
    color: rgba(43, 24, 77, 0.9);
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .hero-section-home > header > nav > #close-tbn,
  .hero-section-events > header > nav > #close-tbn {
    display: none;
  }
}
@media (min-width: 767px) {
  .hero-section-home > header > nav > #my-list-of-headers,
  .hero-section-events > header > nav > #my-list-of-headers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .hero-section-home > header > nav > #my-list-of-headers > li > a,
  .hero-section-events > header > nav > #my-list-of-headers > li > a {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 1.05vw, 1.05rem);
    color: #ffffff;
    cursor: pointer;
  }
  .hero-section-home > header > nav > #my-list-of-headers > li > a:hover,
  .hero-section-home > header > nav > #my-list-of-headers > li > a :focus,
  .hero-section-events > header > nav > #my-list-of-headers > li > a:hover,
  .hero-section-events > header > nav > #my-list-of-headers > li > a :focus {
    color: #f5167e;
    transition: 0.5s;
  }
}
.hero-section-home > header > .btn-reserve,
.hero-section-events > header > .btn-reserve {
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
}
.hero-section-home > header > .btn-reserve:hover,
.hero-section-home > header > .btn-reserve :focus,
.hero-section-events > header > .btn-reserve:hover,
.hero-section-events > header > .btn-reserve :focus {
  background: #f5167e;
  color: #ffffff;
  border: 1px solid #f5167e;
  transition: 0.5s;
}
.hero-section-home > .greetings,
.hero-section-events > .greetings {
  padding-top: 7rem;
  text-align: center;
  font-size: clamp(0.875rem, 0.88vw, 0.89rem);
  color: #f1f1f1;
  margin-bottom: 3rem;
  font-family: "Poppins", sans-serif;
}
.hero-section-home > .greetings > .greetings-hr,
.hero-section-events > .greetings > .greetings-hr {
  width: 10%;
  height: 1px;
  border: none;
  margin: 0 auto;
  background: linear-gradient(to right, #f5167e, #ffffff);
}
@media (min-width: 768px) {
  .hero-section-home > .greetings,
  .hero-section-events > .greetings {
    padding-top: 15rem;
    font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  }
}
.hero-section-home > h1,
.hero-section-events > h1 {
  text-align: center;
  font-size: clamp(2.8125rem, 2.85vw, 2.9rem);
  padding: 0rem 2rem 4rem 2rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  line-height: 3.5rem;
}
@media (min-width: 768px) {
  .hero-section-home > h1,
  .hero-section-events > h1 {
    font-size: clamp(6rem, 6.15vw, 6.18rem);
    padding: 5% 15% 15% 15%;
    line-height: 8rem;
  }
}

.hero-section-contact > header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
@media (min-width: 768px) {
  .hero-section-contact > header {
    padding: 1.5rem 3rem;
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
  }
}
.hero-section-contact > header .logo {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
@media (min-width: 768px) {
  .hero-section-contact > header .logo {
    font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  }
}
.hero-section-contact > header .logo > .logo-name1 {
  color: #f1f1f1;
}
.hero-section-contact > header .logo > .logo-name2 {
  color: #f5167e;
}
@media (min-width: 768px) {
  .hero-section-contact > header > .hamburger-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero-section-contact > header > nav,
  .hero-section-contact > header .btn-reserve {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero-section-contact > header > nav {
    position: fixed;
    width: 72%;
    height: 100%;
    background: hsla(260, 60%, 24%, 0.04);
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    top: 0;
    right: 0;
    overflow-y: auto;
    z-index: 9999999;
  }
  .hero-section-contact > header > nav #my-list-of-headers {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    margin-left: clamp(2.5rem, 2.8vw, 3rem);
    text-align: left;
    row-gap: 1.5rem;
    bottom: 5%;
  }
  .hero-section-contact > header > nav #my-list-of-headers li > a {
    font-family: "Poppins", sans-serif;
    color: #f1f1f1;
    font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  }
  .hero-section-contact > header > nav #close-tbn {
    position: absolute;
    top: 3%;
    font-size: 2.5rem;
    right: 10%;
    color: rgba(43, 24, 77, 0.9);
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .hero-section-contact > header > nav > #close-tbn {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero-section-contact > header > nav > #my-list-of-headers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .hero-section-contact > header > nav > #my-list-of-headers > li > a {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 1.05vw, 1.05rem);
    color: #ffffff;
    cursor: pointer;
  }
  .hero-section-contact > header > nav > #my-list-of-headers > li > a:hover,
  .hero-section-contact > header > nav > #my-list-of-headers > li > a :focus {
    color: #f5167e;
    transition: 0.5s;
  }
}
.hero-section-contact > header > .btn-reserve {
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
}
.hero-section-contact > header > .btn-reserve:hover,
.hero-section-contact > header > .btn-reserve :focus {
  background: #f5167e;
  color: #ffffff;
  border: 1px solid #f5167e;
  transition: 0.5s;
}

.event-info-section {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .event-info-section {
    padding: 0rem 3rem;
  }
}
@media screen and (max-width: 767px) {
  .event-info-section {
    padding: 0rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .event-info-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.event-info-section > .zero-cost-event,
.event-info-section .virtualEvents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .event-info-section > .zero-cost-event,
  .event-info-section .virtualEvents {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}
.event-info-section > .zero-cost-event > .textSection,
.event-info-section .virtualEvents > .textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-items: flex-start;
}
.event-info-section > .zero-cost-event > .textSection > article,
.event-info-section .virtualEvents > .textSection > article {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  font-family: "Poppins", sans-serif;
  color: #242565;
}
@media screen and (min-width: 768px) {
  .event-info-section > .zero-cost-event > .textSection > article,
  .event-info-section .virtualEvents > .textSection > article {
    font-size: clamp(2.5rem, 2.55vw, 2.6rem);
    padding-right: 7rem;
  }
}
.event-info-section > .zero-cost-event > .textSection > p.description,
.event-info-section .virtualEvents > .textSection > p.description {
  font-size: clamp(0.875rem, 0.88vw, 0.89rem);
  color: #000000;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  .event-info-section > .virtualEvents {
    display: flex;
    flex-direction: row-reverse;
  }
}

.join-these-brands {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .join-these-brands {
    padding: 0rem 3rem;
  }
}
@media screen and (max-width: 767px) {
  .join-these-brands {
    padding: 0rem 2rem;
  }
}
.join-these-brands > .sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}
.join-these-brands > .sectionHeader > h2 {
  font-size: clamp(2rem, 2.05vw, 2.05rem);
  color: #242565;
}
.join-these-brands > .sectionHeader > p.description {
  text-align: center;
  font-size: clamp(0.875rem, 0.88vw, 0.89rem);
  color: #6a6a6a;
}
@media screen and (min-width: 768px) {
  .join-these-brands > .sectionHeader > p.description {
    padding: 0 30%;
  }
}
.join-these-brands > .brandsImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.blog {
  margin-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .blog {
    padding: 0rem 3rem;
  }
}
@media screen and (max-width: 767px) {
  .blog {
    padding: 0rem 2rem;
  }
}
.blog > .blogSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog > .blogSection > .blogHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2.5rem;
}
.blog > .blogSection > .blogHeader > h3 {
  font-size: clamp(2rem, 2.05vw, 2.05rem);
  color: #242565;
  text-align: center;
}
.blog > .blogSection > .blogHeader > p.description {
  font-size: clamp(0.875rem, 0.88vw, 0.89rem);
  color: #6a6a6a;
  text-align: center;
}
.blog > .blogSection > .blogPosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.blog > .blogSection > .blogPosts > .blogContainer {
  width: 21.4375rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Inter", sans-serif;
}
.blog > .blogSection > .blogPosts > .blogContainer > .blogTitle {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  color: #242565;
}
.blog > .blogSection > .blogPosts > .blogContainer > .description {
  font-size: clamp(0.875rem, 0.88vw, 0.89rem);
  color: #6a6a6a;
}
.blog > .blogSection > .blogPosts > .blogContainer > .dateOfPost {
  font-size: clamp(0.75rem, 0.755vw, 0.76rem);
  color: #000000;
}

footer {
  width: 100%;
  background-color: #242565;
  padding: 4rem 2rem;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 6rem 3.5rem;
  }
}
footer > .footerSection {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 768px) {
  footer > .footerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer > .footerSection > .logoSection, footer > .footerSection .navLinks, footer > .footerSection .mailSection {
    max-width: 30%;
  }
}
footer > .footerSection > .logoSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer > .footerSection > .logoSection > .logo {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
}
@media (min-width: 767px) {
  footer > .footerSection > .logoSection > .logo {
    font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  }
}
footer > .footerSection > .logoSection > .logo > .logo-name1 {
  color: #f1f1f1;
}
footer > .footerSection > .logoSection > .logo > .logo-name2 {
  color: #f5167e;
}
footer > .footerSection > .logoSection > p.description {
  font-size: clamp(0.875rem, 0.88vw, 0.89rem);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
footer > .footerSection > .logoSection > .socialIcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
footer > .footerSection > .navLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}
footer > .footerSection > .navLinks > article {
  font-size: clamp(1.5rem, 1.52vw, 1.55rem);
  color: #ffffff;
}
footer > .footerSection > .navLinks > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer > .footerSection > .navLinks > ul > li > a {
  color: #ffffff;
  font-size: clamp(0.875rem, 0.88vw, 0.89rem);
  font-weight: 400;
}
footer > .footerSection > .mailSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer > .footerSection > .mailSection > article {
  font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
footer > .footerSection > .mailSection > p.description {
  font-size: clamp(0.8125rem, 0.82vw, 0.825rem);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
footer > .footerSection > .mailSection > .mailBox {
  width: 100%;
  height: 3.75rem;
}
footer > .footerSection > .mailSection .mailBox label {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
footer > .footerSection > .mailSection .mailBox input {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
  border: none;
  background-color: #f5f5f5;
  color: #444;
  padding: 0 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}
footer > .footerSection > .mailSection .mailBox button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 30px;
  background-color: #ff3d73;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
footer > .footerSection > .mailSection .mailBox button:hover {
  background-color: #ff1a60;
}/*# sourceMappingURL=pagestyles.css.map */