@import "./_base.scss";

// mixins component

// hero section for home
@mixin Hero-Section-Home() {
    width: 100%;
    background-blend-mode: overlay;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
        z-index: 0;
    }

    > header {
        @include flexComp(row);
        justify-content: space-between;
        // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background: $headerGlasmorphismClr;
        padding: 1rem 2rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;

        @media (min-width: 768px) {
            padding: 1.5rem 3rem;
            background: $headerGlasmorphismClr;
            backdrop-filter: blur(45px);
            -webkit-backdrop-filter: blur(45px);
        }

        .logo {
            font-family: $poppins-font;
            @include fontSize18px();

            @media (min-width: 767px) {
                @include fontSize20px();
            }

            > .logo-name1 {
                color: $deep-grey;
            }

            > .logo-name2 {
                color: $pink-clr;
            }
        }

        > .hamburger-menu {
            @include hiddenElementOnMoreThan768px();
        }

        > nav,
        .btn-reserve {
            @include hiddenElementOnLessThan767px();
        }
        > nav {
            @media (max-width: 767px) {
                @include MenuContainer();
            }
        }
        > nav {
            > #close-tbn {
                @include hiddenElementOnMoreThan768px();
            }
            > #my-list-of-headers {
                @media (min-width: 767px) {
                    @include flexComp(row);
                    gap: 3rem;

                    > li > a {
                        font-family: $poppins-font;
                        @include fontSize16px();
                        color: $white-clr;
                        cursor: pointer;

                        &:hover,
                        :focus {
                            color: $pink-clr;
                            @include Transbtnhovers();
                        }
                    }
                }
            }
        }

        > .btn-reserve {
            @include fontSize14px();
            @include flexComp(row);
            gap: 0.25rem;
            color: $white-clr;
            font-family: $inter-font;

            &:hover,
            :focus {
                scale: 1.1;
                @include Transbtnhovers();
            }
        }

        > .font-size-controls {
            @include flex(row);
            gap: 0.5rem;
            @include fontSize13px();
            color: $pureWhite;

            @media screen and (min-width: 768px) {
                @include flex(row);
                gap: 1.5rem;
                @include fontSize20px();
            }
        }
    }

    > .greetings {
        padding-top: 7rem;
        text-align: center;
        @include fontSize14px();
        color: $deep-grey;
        margin-bottom: 3rem;
        font-family: $poppins-font;

        > .greetings-hr {
            width: 10%;
            height: 1px;
            border: none;
            margin: 0 auto;
            background: linear-gradient(to right, $pink-clr, #ffffff);
        }

        @media (min-width: 768px) {
            padding-top: 15rem;
            @include fontSize18px();
        }
    }

    > h1 {
        text-align: center;
        @include fontSize45px();
        padding: 0rem 2rem 4rem 2rem;
        color: $white-clr;
        font-family: $poppins-font;
        line-height: 3.5rem;

        @media (min-width: 768px) {
            @include fontSize96px();
            padding: 5% 15% 15% 15%;
            line-height: 8rem;
        }
    }

    > .header-event {
        text-align: center;
        @include fontSize45px();
        padding: 5rem 2rem 4rem 2rem;
        color: $white-clr;
        font-family: $poppins-font;
        line-height: 3.5rem;

        @media (min-width: 768px) {
            @include fontSize96px();
            padding: 12% 15% 15% 15%;
            line-height: 8rem;
        }
    }
}

// hero header section for contact
@mixin Hero-Section-Contact() {
    > header {
        @include flexComp(row);
        justify-content: space-between;
        background: $headerGlasmorphismClr;
        padding: 1rem 2rem;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;

        @media (min-width: 768px) {
            padding: 1.5rem 3rem;
            position: fixed;
            top: 0;
            background: $headerGlasmorphismClr;
            backdrop-filter: blur(45px);
            -webkit-backdrop-filter: blur(45px);
        }

        .logo {
            font-family: $poppins-font;
            @include fontSize18px();

            @media (min-width: 768px) {
                @include fontSize20px();
            }

            > .logo-name1 {
                color: $deep-grey;
            }

            > .logo-name2 {
                color: $pink-clr;
            }
        }

        > .hamburger-menu {
            @include hiddenElementOnMoreThan768px();
        }

        > nav,
        .btn-reserve {
            @include hiddenElementOnLessThan767px();
        }
        > nav {
            @media (max-width: 767px) {
                @include MenuContainer();
            }
        }
        > nav {
            > #close-tbn {
                @include hiddenElementOnMoreThan768px();
            }
            > #my-list-of-headers {
                @media (min-width: 768px) {
                    @include flexComp(row);
                    gap: 3rem;

                    > li > a {
                        font-family: $poppins-font;
                        @include fontSize16px();
                        color: $white-clr;
                        cursor: pointer;

                        &:hover,
                        :focus {
                            color: $pink-clr;
                            @include Transbtnhovers();
                        }
                    }
                }
            }
            > .font-size-controls {
                @include hiddenElementOnMoreThan768px();
            }
        }

        > .btn-reserve {
            @include fontSize14px();
            @include flexComp(row);
            gap: 0.25rem;
            color: $white-clr;
            font-family: $inter-font;

            &:hover,
            :focus {
                scale: 1.1;
                @include Transbtnhovers();
            }
        }

        > .font-size-controls {
            @include flex(row);
            gap: 0.5rem;
            @include fontSize13px();
            color: $pureWhite;

            @media screen and (min-width: 768px) {
                @include flex(row);
                gap: 1.5rem;
                @include fontSize20px();
            }
        }
    }
}

// event info section
@mixin EventInfoSection() {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    @include SectionPadding();
    @include flex(column);
    gap: 3rem;

    @media screen and (min-width: 768px) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    > .zero-cost-event,
    .virtualEvents {
        @include flex(column);
        gap: 2rem;
        align-items: center;

        @media screen and (min-width: 768px) {
            @include flex(row);
            gap: 4rem;
        }

        > .textSection {
            @include flexComp(column);
            gap: 0.5rem;
            align-items: flex-start;

            > article {
                @include fontSize24px();
                font-family: $poppins-font;
                color: $deep-indigo;

                @media screen and (min-width: 768px) {
                    @include fontSize40px();
                    padding-right: 7rem;
                }
            }

            > p.description {
                @include fontSize14px();
                color: $black-clr;
                font-family: $poppins-font;
            }
        }
    }

    > .virtualEvents {
        @media screen and (min-width: 768px) {
            @include flex(row-reverse);
        }
    }
}

// join these brands
@mixin JoinTheseBrands() {
    margin-top: 5rem;
    margin-bottom: 5rem;
    @include SectionPadding();

    > .sectionHeader {
        @include flexComp(column);
        gap: 1rem;
        font-family: $poppins-font;

        > h2 {
            @include fontSize32px();
            color: $deep-indigo;
        }

        > p.description {
            text-align: center;
            @include fontSize14px();
            color: $grey-clr;

            @media screen and (min-width: 768px) {
                padding: 0 30%;
            }
        }
    }

    > .brandsImages {
        @include flexComp(row);
        flex-wrap: wrap;
        gap: 1.5rem;
    }
}

// blog section
@mixin BlogSection() {
    @include SectionPadding();
    margin-bottom: 10rem;

    > .blogSection {
        @include flexComp(column);

        > .blogHeader {
            @include flex(column);
            gap: 0.5rem;
            font-family: $poppins-font;
            margin-bottom: 2.5rem;

            > h3 {
                @include fontSize32px();
                color: $deep-indigo;
                text-align: center;
            }
            > p.description {
                @include fontSize14px();
                color: $grey-clr;
                text-align: center;
            }
        }

        > .blogPosts {
            @include flex(row);
            flex-wrap: wrap;
            gap: 2rem;

            > .blogContainer {
                width: 21.4375rem;
                height: auto;
                @include flex(column);
                gap: 1rem;
                font-family: $inter-font;

                > .blogTitle {
                    @include fontSize18px();
                    color: $deep-indigo;
                }

                > .description {
                    @include fontSize14px();
                    color: $grey-clr;
                }

                > .dateOfPost {
                    @include fontSize12px();
                    color: $black-clr;
                }
            }
        }
    }
}

// footer section
@mixin FooterSection() {
    width: 100%;
    background-color: $deep-indigo;
    padding: 4rem 2rem;

    @media screen and (min-width: 768px) {
        padding: 6rem 3.5rem;
    }

    > .footerSection {
        @include flex(column);
        gap: 2.5rem;

        @media screen and (min-width: 768px) {
            @include flexComp(row);
            justify-content: space-between;
            align-items: flex-start;

            > .logoSection,
            .navLinks,
            .mailSection {
                max-width: 30%;
            }
        }

        > .logoSection {
            @include flex(column);
            gap: 2rem;

            > .logo {
                font-family: $poppins-font;
                @include fontSize18px();

                @media (min-width: 767px) {
                    @include fontSize20px();
                }

                > .logo-name1 {
                    color: $deep-grey;
                }

                > .logo-name2 {
                    color: $pink-clr;
                }
            }
            > p.description {
                @include fontSize14px();
                color: $white-clr;
                font-family: $poppins-font;
            }
            > .socialIcons {
                @include flex(row);
                gap: 1rem;
            }
        }

        > .navLinks {
            @include flex(column);
            gap: 1rem;
            font-family: $poppins-font;

            > article {
                @include fontSize24px();
                color: $white-clr;
            }
            > ul {
                @include flex(column);
                gap: 0.5rem;
                > li > a {
                    color: $white-clr;
                    @include fontSize14px();
                    font-weight: 400;
                }
            }
        }

        > .mailSection {
            @include flex(column);
            gap: 1.5rem;

            > article {
                @include fontSize20px();
                color: $white-clr;
                font-family: $poppins-font;
            }

            > p.description {
                @include fontSize13px();
                color: $white-clr;
                font-family: $poppins-font;
            }

            > .mailBox {
                width: 100%;
                height: 3.75rem;
            }
            .mailBox label {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
            }

            .mailBox input {
                width: 100%;
                height: 100%;
                border-radius: 5rem;
                padding: 0.5rem 2.5rem;
                border: none;
                background-color: #f5f5f5;
                color: #444;
                padding: 0 20px;
                font-size: 16px;
                font-family: "Poppins", sans-serif;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                outline: none;
            }

            .mailBox button {
                position: absolute;
                right: 0;
                height: 100%;
                padding: 0 30px;
                background-color: #ff3d73;
                color: $white-clr;
                font-family: $inter-font;
                @include fontSize15px();
                font-weight: 600;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            .mailBox button:hover {
                background-color: #ff1a60;
            }
        }
    }
}

// contact main form
@mixin ContactMainForm() {
    padding: 7rem 2rem;
    @include flex(column);
    gap: 2rem;

    @media screen and (min-width: 768px) {
        padding: 12rem 5rem;
    }

    > h2 {
        @include fontSize35px();
        color: $deep-indigo;
        font-family: $poppins-font;
        text-align: left;
        line-height: 2.5rem;

        @media screen and (min-width: 768px) {
            @include fontSize60px();
            line-height: 4rem;
            padding-right: 10%;
        }
    }

    > .contact-session {
        > form {
            @include flex(column);
            gap: 2rem;
            margin-top: 3rem;

            > .flexGroup {
                @include flex(row);
                gap: 2.5rem;
                flex-wrap: wrap;

                > .textContainer {
                    @include flex(column);
                    gap: 0.5rem;
                    width: 20rem;

                    > label {
                        @include fontSize15px();
                        font-family: $inter-font;
                        color: $grey-clr;
                        font-weight: 300;
                    }

                    > input {
                        width: 100%;
                        outline: none;
                        border-bottom: 1px solid $grey-clr;
                        padding: 0.5rem 0.5rem 0.5rem 1rem;
                        background-color: transparent;
                        @include fontSize15px();
                        font-family: $inter-font;
                        color: $black-clr;
                        font-weight: 400;
                    }
                    > input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    > input[type="number"] {
                        -moz-appearance: textfield; /* For Firefox */
                    }
                }
            }

            > .message {
                @include flex(column);
                gap: 0.5rem;

                > label {
                    @include fontSize15px();
                    font-family: $inter-font;
                    color: $grey-clr;
                    font-weight: 300;
                }

                > textarea {
                    width: 90%;
                    outline: none;
                    border-bottom: 1px solid $grey-clr;
                    padding: 1rem 0.5rem 1rem 1rem;
                    @include fontSize15px();
                    font-family: $inter-font;
                    color: $black-clr;
                    font-weight: 400;
                }
            }

            > button {
                margin-top: 2.5rem;
                @include flex(row);
                gap: 0.5rem;
                align-items: center;
                border: none;
                width: 15rem;
                padding: 1.5rem 1.5rem;
                background-color: $pink-clr;
                color: $white-clr;
                font-family: $inter-font;
                @include fontSize15px();
                font-weight: 600;
                border-radius: 5rem;
                cursor: pointer;
                @include Transbtnhovers();

                &:hover {
                    background-color: $deep-indigo;
                    @include Transbtnhovers();
                }
            }
        }
    }
}

// contact details
@mixin ContactDetails() {
    // @include SectionPadding();
    @include flex(column);
    gap: 2rem;
    background: hsla(260, 60%, 24%, 0.1);
    padding: 5rem 2rem;
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);

    @media screen and (min-width: 768px) {
        padding: 8rem 3rem;
        @include flexComp(row);
        justify-content: space-between;
        align-items: flex-start;

        > .container,
        .emailAddressSection,
        .phoneSection {
            max-width: 30%;
        }
    }

    > .container {
        @include flex(column);
        gap: 0.5rem;

        > article {
            @include fontSize15px();
            color: $black-clr;
            font-family: $inter-font;
            font-weight: 400;
        }

        > h3 {
            @include fontSize28px();
            color: $deep-indigo;
            font-family: $poppins-font;
            font-weight: 600;
            line-height: 2.5rem;

            @media screen and (min-width: 768px) {
                @include fontSize40px();
                line-height: 3rem;
            }
        }
    }

    > .emailAddressSection {
        @include flex(column);
        gap: 0.5rem;

        > p.email,
        p.mainEmail {
            @include fontSize18px();
            font-weight: 600;
            color: $black-clr;
            font-family: $poppins-font;
        }
        > p.hours {
            @include fontSize15px();
            font-weight: 400;
            color: $black-clr;
            font-family: $inter-font;
        }
    }

    > .phoneSection {
        @include flex(column);
        gap: 0.5rem;

        > p.phone,
        p.num {
            @include fontSize18px();
            font-weight: 600;
            color: $black-clr;
            font-family: $poppins-font;
        }
        > p.hours {
            @include fontSize15px();
            font-weight: 400;
            color: $black-clr;
            font-family: $inter-font;
        }
    }
}

// search container
@mixin SearchContainer() {
    padding: 2.5rem 2rem;
    margin-bottom: 3rem;

    > .formGroup {
        width: 90%;
        margin: 0 auto;
        background: $deep-indigo;
        padding: 1.5rem;
        border-radius: 1rem;

        @media screen and (min-width: 768px) {
            width: 70%;
        }

        > form {
            @include flex(column);
            gap: 2rem;

            @media screen and (min-width: 768px) {
                @include flex(row);
                justify-content: space-between;
                align-items: center;

                > .eventSearchContainer {
                    max-width: 45%;
                }
            }

            > .eventSearchContainer {
                @include flex(row);
                gap: 2.5rem;
                width: 100%;

                > label {
                    @include fontSize15px();
                    font-family: $inter-font;
                    color: $white-clr;
                    font-weight: 300;
                    width: 100%;

                    > input {
                        width: 100%;
                        outline: none;
                        border-bottom: 1px solid $grey-clr;
                        padding: 0.5rem 0.5rem 0.5rem 1rem;
                        @include fontSize18px();
                        font-family: $inter-font;
                        color: $black-clr;
                        font-weight: 400;
                        background-color: transparent;
                        color: $white-clr;
                    }
                }
            }
        }
    }
}
















// main selectors
.hero-section-home,
.hero-section-events {
    @include Hero-Section-Home();
}

.hero-section-contact {
    @include Hero-Section-Contact();
}

.event-info-section {
    @include EventInfoSection();
}

.join-these-brands {
    @include JoinTheseBrands();
}

.blog {
    @include BlogSection();
}

.contact-main-form {
    @include ContactMainForm();
}

.contact-details {
    @include ContactDetails();
}

.searchContainer {
    @include SearchContainer();
}

footer {
    @include FooterSection();
}
